<header class="topbar">

<button id="menuBtn" class="menu-btn">
<i class="fa-solid fa-bars"></i>
</button>

<a href="/dashboard.html" class="brand">

<div class="brand-icon">
<i class="fa-solid fa-hand-pointer"></i>
<i class="fa-solid fa-money-bill-wave money"></i>
</div>

<span>CLICK2PAY</span>

</a>


<div class="top-actions">

<a href="/notifications.html" class="icon-btn">
<i class="fa-solid fa-bell"></i>
<span class="badge">0</span>
</a>


<a href="/profile.html" class="profile-btn">
<i class="fa-solid fa-user"></i>
</a>


</div>

</header>



<aside class="sidebar" id="sidebar">


<div class="sidebar-header">


<div class="logo-circle">

<i class="fa-solid fa-hand-pointer"></i>

<i class="fa-solid fa-money-bill-wave"></i>

</div>


<h2>CLICK2PAY</h2>

<small>@Guest</small>


</div>




<nav>


<a href="/dashboard.html">
<i class="fa-solid fa-gauge-high"></i>
Dashboard
</a>



<details>

<summary>

<span>
<i class="fa-solid fa-link"></i>
Manage Links
</span>

<i class="fa-solid fa-chevron-down"></i>

</summary>


<a href="/create-link.html">
<i class="fa-solid fa-plus"></i>
Create Link
</a>


<a href="/links.html">
<i class="fa-solid fa-list"></i>
My Links
</a>


<a href="/analytics.html">
<i class="fa-solid fa-chart-line"></i>
Analytics
</a>


</details>





<details>


<summary>

<span>
<i class="fa-solid fa-wallet"></i>
Earnings
</span>

<i class="fa-solid fa-chevron-down"></i>

</summary>



<a href="/balance.html">
<i class="fa-solid fa-coins"></i>
Balance
</a>


<a href="/withdraw.html">
<i class="fa-solid fa-money-bill-transfer"></i>
Withdraw
</a>


<a href="/withdraw-history.html">
<i class="fa-solid fa-clock-rotate-left"></i>
History
</a>


</details>





<a href="/transactions.html">
<i class="fa-solid fa-receipt"></i>
Transactions
</a>



<a href="/statistics.html">
<i class="fa-solid fa-chart-pie"></i>
Statistics
</a>



<a href="/referral.html">
<i class="fa-solid fa-users"></i>
Referral
</a>



<a href="/daily-bonus.html">
<i class="fa-solid fa-gift"></i>
Daily Bonus
</a>



<a href="/leaderboard.html">
<i class="fa-solid fa-trophy"></i>
Leaderboard
</a>






<details>


<summary>

<span>
<i class="fa-solid fa-bullhorn"></i>
Advertise
</span>

<i class="fa-solid fa-chevron-down"></i>

</summary>



<a href="/advertise/topup.html">
<i class="fa-solid fa-wallet"></i>
Top Up
</a>



<a href="/advertise/create.html">
<i class="fa-solid fa-rectangle-ad"></i>
Create Ads
</a>



<a href="/advertise/list.html">
<i class="fa-solid fa-link"></i>
My Ads
</a>



</details>







<details>


<summary>

<span>
<i class="fa-solid fa-headset"></i>
Support
</span>

<i class="fa-solid fa-chevron-down"></i>

</summary>



<a href="#">
<i class="fa-brands fa-telegram"></i>
Telegram
</a>



<a href="#">
<i class="fa-brands fa-whatsapp"></i>
WhatsApp
</a>



<a href="mailto:support@click2pay.com">
<i class="fa-solid fa-envelope"></i>
Email
</a>



</details>







<details>


<summary>

<span>
<i class="fa-solid fa-gear"></i>
Settings
</span>

<i class="fa-solid fa-chevron-down"></i>

</summary>



<a href="/profile.html">
<i class="fa-solid fa-user"></i>
Profile
</a>



<a href="/payment-method.html">
<i class="fa-solid fa-building-columns"></i>
Payment Account
</a>



</details>






<a href="/logout.html" class="logout">

<i class="fa-solid fa-right-from-bracket"></i>

Logout

</a>



</nav>


</aside>
