<header class="c2p-navbar">


<button class="c2p-menu" onclick="c2pOpen()">

<i class="fa-solid fa-bars"></i>

</button>


<div class="c2p-logo">

<i class="fa-solid fa-bolt"></i>
CLICK<span>2PAY</span>

</div>


<button class="c2p-user" onclick="c2pUser()">

<i class="fa-solid fa-user"></i>

</button>


<div class="c2p-dropdown" id="c2pDrop">

<b>User</b>

<br><br>

Saldo

<h3 id="navbarSaldo">
Rp 0
</h3>

<br>

<button id="logoutBtn">
    Logout
</button>

</div>


</header>



<!-- SIDEBAR -->


<div class="c2p-sidebar" id="c2pSide">


<div class="c2p-side-title">

Click2Pay


<button class="c2p-close" onclick="c2pClose()">

<i class="fa-solid fa-xmark"></i>

</button>


</div>


<a href="dashboard.html">
<i class="fa-solid fa-house"></i>
Dashboard
</a>


<!-- LINKS -->

<div class="c2p-parent" onclick="c2pToggle('linksMenu')">

<i class="fa-solid fa-link"></i>
<span>Links</span>

<i class="fa-solid fa-chevron-down arrow"></i>

</div>


<div class="c2p-submenu" id="linksMenu">

<a href="#create-link">
<i class="fa-solid fa-plus"></i>
Create Link
</a>

<a href="#create-sell">
<i class="fa-solid fa-cart-shopping"></i>
Create Sell Link
</a>

<a href="#my-link">
<i class="fa-solid fa-list"></i>
My Link
</a>

</div>



<!-- PAYMENT -->

<a href="payment.html">

<i class="fa-solid fa-money-bill-transfer"></i>
Payment

</a>



<!-- REFERRAL -->

<a href="referral.html">

<i class="fa-solid fa-users"></i>
Referral

</a>




<!-- PROMOTION -->

<div class="c2p-parent" onclick="c2pToggle('promoMenu')">

<i class="fa-solid fa-bullhorn"></i>

<span>Promotion</span>

<i class="fa-solid fa-chevron-down arrow"></i>

</div>



<div class="c2p-submenu" id="promoMenu">


<a href="#topup">
<i class="fa-solid fa-wallet"></i>
Top Up
</a>


<a href="#ads">
<i class="fa-solid fa-rectangle-ad"></i>
Iklan Ads
</a>


<a href="#link-ads">
<i class="fa-solid fa-link"></i>
Link Ads
</a>


<a href="#history-promo">
<i class="fa-solid fa-clock"></i>
Riwayat
</a>


</div>





<!-- SETTING -->

<div class="c2p-parent" onclick="c2pToggle('settingMenu')">

<i class="fa-solid fa-gear"></i>

<span>Setting</span>

<i class="fa-solid fa-chevron-down arrow"></i>

</div>



<div class="c2p-submenu" id="settingMenu">


<a href="#profile-setting">

<i class="fa-solid fa-user-gear"></i>

Setting Profil

</a>


<a href="#payment-setting">

<i class="fa-solid fa-credit-card"></i>

Setting Payment

</a>


</div>





<!-- SUPPORT -->

<div class="c2p-parent" onclick="c2pToggle('supportMenu')">

<i class="fa-solid fa-headset"></i>

<span>Support</span>

<i class="fa-solid fa-chevron-down arrow"></i>

</div>



<div class="c2p-submenu" id="supportMenu">


<a href="https://t.me/click2pay">

<i class="fa-brands fa-telegram"></i>

Telegram

</a>


<a href="#">

<i class="fa-brands fa-whatsapp"></i>

WhatsApp

</a>


<a href="mailto:support@click2pay.com">

<i class="fa-solid fa-envelope"></i>

Gmail

</a>


</div>

</div>


<div class="c2p-overlay" id="c2pOverlay" onclick="c2pClose()"></div>
